@*@model SAExpiations.Models.ExpiationOffence*@
@model IEnumerable<SAExpiations.ViewModels.ExpiationDetails>

@{
    ViewData["Title"] = "Details";
    string[] months = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    int total = 0;
    int yearlyTotal = 0;
    // this will store the colours for each expiation
    Dictionary<string, string> colours = new Dictionary<string, string>();
    colours.Add("COURTS RELIEF STATUS", "table-primary");
    colours.Add("EXPIATED", "table-secondary");
    colours.Add("COURTS ENFORCEMENT (pending or enforced)", "table-dark");
    colours.Add("WITHDRAWN","table-success");
    colours.Add("ISSUED OR CAUTIONED", "table-warning");
    colours.Add("MULTIPLE OFFENCES - PROCESSED", "table-info");
    colours.Add("INVALID", "table-light");
    colours.Add("SUSPENDED FOR ENQUIRY", "table-danger");

};

}

<h1>Details</h1>

<div>
    <h4>ExpiationOffence</h4>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">Description</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
    @for(var month = 0; month < 12; month++) {
        <tr>
                <th colspan="3" scope="row">@months[month]</th>
            @foreach(var item in Model){
                
                    if (item.IssueDate == month + 1)
                    {
                    <tr class="@colours[item.NoticeStatusDesc]">
                        <td colspan="2">
                                @Html.DisplayFor(modelItem => item.NoticeStatusDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusCount)
                            <!--add total -->
                                @{
                                    total += @item.StatusCount; yearlyTotal += @item.StatusCount;
                                }
       
                        </td>
                    </tr>
                    }
            }
            <tr class="bg-primary font-weight-bold">
                <td colspan="2" class="bg-primary text-end font-weight-bold">@months[month] Total:</td>
                <td colspan="1" class="bg-primary font-weight-bold">@total offences</td>
                @{total = 0;}
            </tr>
            </tr>
        }
    </table>
        <table class="table table-striped table-hover">
            <tr>
        <!-- visualise yearly total -->
        <td colspan="3" class="text-end font-weight-bold">Yearly Total: @yearlyTotal</td>
        </tr>
        @{
            yearlyTotal = 0;
        }
        </table>


   
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
