@model IEnumerable<SAExpiations.ViewModels.LocationServicesDetails>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="p-3 mb-2 bg-primary text-white"><span class="label label-info" id="location"></span></div>
<div class="p-3 mb-2 bg-info text-dark"><span class="label label-primary" id="year"></span></div>




<h1>
    Total Expiations @Model.Sum(i => i.TotalExpiations)
</h1>
<div>
    <hr />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <p>Offence Code</p>
                    </th>
                    <th>
                        <p>Offence Description</p>
                    </th>
                    <th>
                        <p>NO. Offences</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        var myClass = (item.TotalExpiations <= 0) ? "empty" : item.TotalExpiations.ToString();
                        <tr class="@myClass">
                            <td>

                            @Html.DisplayFor(modelItem => item.ExpiationCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiationDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalExpiations)
                            </td>
                        </tr>
                    }
          
            </tbody>
        </table>
    </div>
</div>

    <script>
        let url = window.location.href
        let string = url.toString()
        let urlArray = string.split("/")
        let year = urlArray[6]
        document.getElementById("location").innerText = "Location: "+ urlArray[5]
        document.getElementById("year").innerText = "Year: " + year.substring(year.length - 4, year.length)

    </script>
