@model IEnumerable<SAExpiations.ViewModels.LocationExpiationCounter>

@{
    ViewData["Title"] = "Index";
}

<h1>Local Service Area</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
            <tr>
            <th>
                Code
            </th>
            <th>
                Service Area
            </th>
            <th>
                No. Expiations
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                if (item.NumberofExpiations > 3)
                {
                    <tr onclick="window.open('@Url.Content("LocalServiceAreas/Details/"+item.LocalServiceAreaCode)')">
                        <td>
                    @Html.DisplayFor(modelItem => item.LocalServiceAreaCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalServiceArea1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofExpiations)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.LocalServiceAreaCode">Details</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
</div>

