@model IEnumerable<SAExpiations.ViewModels.LocationExpiationCounter>

@{
    ViewData["Title"] = "Index";
}

<h1>Local Service Area Search</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

        <form method="get" asp-controller="LocalServiceAreas" asp-action="Index" class="row">


            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <!--Input box for search-->
                        <input maxlength="100" list="itemsList" class="form-control me-2" type="search" name="SearchText" placeholder="Search..." aria-label="Search">
                        <datalist id="itemsList">
                            @foreach (var item in Model)
                            {
                                if (item.NumberofExpiations >= 1) {
                                    <option>@item.LocalServiceArea1</option>
                                }
                                
                            }
                        </datalist>
                    </li>
                    <li class="nav-item" style="padding-left: 1rem">
                        <select name="selectedYear" id="selectedYear" class="form-select" aria-label="Default select example"></select>

                    </li>

                    <li class="nav-item" style="padding-left: 1rem">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </li>

                </ul>
            </div>
        </form>
    </div>
</nav>
<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
            <tr>
            <th>
                Code
            </th>
            <th>
                Service Area
            </th>
            <th>
                No. Expiations
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                if (item.NumberofExpiations >= 1)
                {
                    <tr onclick="window.open('@Url.Content("LocalServiceAreas/Details/"+item.LocalServiceAreaCode)')">
                        <td>
                    @Html.DisplayFor(modelItem => item.LocalServiceAreaCode)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalServiceArea1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofExpiations)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.LocalServiceAreaCode">Details</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
</div>

<script defer>
    function addYears() {
        let currentYear = new Date().getFullYear()
        let numberYears = 4
        var select = document.getElementById("selectedYear");

        for (let i = 0 - (numberYears / 2); i < numberYears - 1; i++) {
            let option = new Option(currentYear + i)
            // append options
            select.appendChild(option)
        }
    }
    addYears()


</script>

